{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% block title %}<title>Home Page</title>{% endblock %}

</head>
<body>
{% block content %}
<h1 id="test">test</h1>
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">Jeddah support group</h1>
	  <p class="lead">A support group to help and support with depression and anxiety</p>
	  <hr class="my-4">
	  <p>We are here to listen, and you're not alone in this journey.</p>
	  <a class="btn btn-primary btn-lg" href="/about" role="button">Find out more about us</a>
	</div>
</div>

{% endblock %}



</body>
</html>