{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}<title>Success</title> {% endblock %}
<!-- Navbar-->
{% block content %}
<!-- Start of jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to the gang {{first_name}}!</h1>
        <p class="lead">You took a huge step into improvement, we hope you improve while joining us. You will be contacted by the host as soon as possible.</p>
    </div>
</div>
<!-- End of Jumbotron-->

</div>
{% endblock %}